* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.w {
  width: 1200px;
  margin: auto;
}

.header {
  height: 42px;
  /* background-color: pink; */
  margin: 30px auto;
}



.box {
  background-color: pink;
  height: 200px;
  margin-top: 30px;
}

.footer {
  height: 415px;
  background-color: blue;
}

.logo {
  float: left;
  width: 198px;
  height: 42px;
}

.nav {
  float: left;
  margin-left: 60px;
}

.nav ul li {
  float: left;
  margin: 0 15px;
}

.nav ul li a {
  display: block;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  padding: 0 10px;
  color: #050505;
}

.nav ul li a:hover {
  border-bottom: 2px solid #00a4ff;
  color: #00a4ff;
}


.search {
  float: left;
  width: 412px;
  height: 42px;
  margin-left: 70px;
}

.search input {
  float: left;
  width: 345px;
  height: 40px;
  border: 1px solid #00a4ff;
  border-right: 0;
  color: #bfbfbf;
  font-size: 14px;
  padding-left: 15px;
}

.search button {
  float: left;
  width: 50px;
  height: 42px;
  /* button有个默认边框需要手动去掉 */
  border: 0;
  background:url(images/btn.png);
}

.user {
  float: left;
  height: 42px;
  line-height: 42px;
  margin-left: 30px;
  font-size: 14px;
  color: #666;
}

.user img {
  margin-top: 5px;
}

/* banner区域 */
.banner {
  height: 421px;
  background-color: #1c036c;
}

.banner .w {
  height: 421px;
  background: url(images/banner2_20190819_210028.png) no-repeat top center;
}

.subnav {
  float: left;
  width: 190px;
  height: 421px;
  background: rgba(0, 0, 0, .3);

}

.subnav ul li {
  height: 45px;
  line-height: 45px;
  padding: 0 28px;
}

.subnav ul li a {
  font-size: 14px;
  color: #fff;
}

.subnav ul li a span {
  float: right;
}

.course {
  float: right;
  width: 230px;
  height: 300px;
  background-color: #fff;
  margin-top: 50px;
}

.course h2 {
  height: 48px;
  background-color: #9bceea;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  color: #fff;
}

.bd {
  padding: 0 20px;
}

.bd ul li {
  padding: 14px 0;
  /* border-bottom: 1px solid #ccc; */
}

.bd ul li h4 {
  font-size: 16px;
  color: #4e4e4e;
}

.bd ul li p {
  font-size: 12px;
  color: #a5a5a5;
}

.bd .more {
  display: block;
  height: 38px;
  border: 1px solid #00a4ff;
  margin-top: 5px;
  text-align: center;
  line-height: 38px;
  color: #00a4ff;
  font-size: 16px;
  font-weight: 700;
}

.goods {
  height: 60px;
  background-color: skyblue;
  margin-top: 10px;
  box-shadow: 0 2px 3px 3px rgba(0,0,0, 0.1);
  line-height: 60px;
}

.goods h3 {
  float: left;
  margin-left: 30px;
  font-size: 16px;
  color: #00a4ff;
}

.goods ul {
  float: left;
  margin-left: 30px;
}

.goods ul li {
  float: left;
}

.goods ul li a {
  padding: 0 30px;
  font-size: 16px;
  color: #050505;
  border-left: 1px solid #ccc;
}

.goods .mod {
  float: right;
  margin-right: 30px;
  font-size: 14px;
  color: #00a4ff;
}
